html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mitr", sans-serif;
}

.container {
  width: 65%;
  margin: auto;
}

.mainnav {
  padding: -10px;
  width: 65%;
  margin: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

.navleft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.navcenter {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: rebeccapurple; */
}

.navright {
  /* background-color: blue; */
  width: 27%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.maincontent {
  display: flex;
  padding: 10px;
  width: 100%;
  height: fit-content;
  margin: auto;
  justify-content: space-between;
  /* background-color: aquamarine; */
}

.form {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  /* border-radius: 5px; */
  /* background-color: blue; */
  border-radius: 15px;
  gap: 10px;
}

.form1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  border: 1px solid silver;
  justify-content: space-around;
  box-shadow: 0px -1px 14px 4px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 0px -1px 14px 4px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px -1px 14px 4px rgba(0, 0, 0, 0.29);
}

.icon {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.card1 {
  width: 45%;
  margin: 20px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  align-items: start;
  font-size: 30px;
  border: 1px solid silver;
  border-radius: 15px;
  background: rgb(205, 133, 60);
  background: linear-gradient(
    144deg,
    rgba(205, 133, 60, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
}

.card1 h3 {
  display: flex;
  margin-bottom: -10px;
}

.detail1 {
  width: 30%;
  height: inherit;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: start;
  font-size: 20px;
}

.setstar {
  margin-top: -10px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.form2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid silver;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px -1px 14px 4px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 0px -1px 14px 4px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px -1px 14px 4px rgba(0, 0, 0, 0.29);
}

.icon2 {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.card2 {
  width: 45%;
  /* margin: auto; */
  margin: 20px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  align-items: start;
  font-size: 30px;
  border: 1px solid silver;
  border-radius: 15px;
  background: rgb(205, 133, 60);
  background: linear-gradient(
    144deg,
    rgba(205, 133, 60, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
}

.card2 h3 {
  display: flex;
  margin-bottom: -10px;
}

.detail2 {
  width: 30%;
  height: inherit;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: start;
  font-size: 20px;
}

.setstar2 {
  margin-top: -10px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

select {
  padding: 8px;
  font-size: 16px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 10px;
}

select:hover {
  background-color: #ddd;
}

select:focus {
  outline: none;
  background-color: #e1e1e1;
}

.order {
  width: 46%;
  height: fit-content;
  margin-top: 102px;
  display: flex;
  flex-direction: column;
  /* background-color: beige; */
  border: 1px solid silver;
  border-radius: 10px;
  font-family: "Mitr", sans-serif;
  padding: 10px;
}

.orderinfo {
  /* width: 100%; */
  display: flex;
  /* justify-content: space-between; */
  font-size: 25px;
  margin-bottom: -20px;
}

.orderdetail {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  /* flex-wrap: wrap; */
}

.textpromo {
  width: 100%;
  display: flex;
  font-size: 30px;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
}

.textpromo input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  /* border: none; */
  border: 0.1px solid silver;
  border-radius: 5px;
}

.textpromo button {
  width: 50%;
  padding: 10px;
  font-size: 15px;
  border: 0.5px solid silver;
  border-radius: 5px;
  background-color: rgba(255, 127, 127, 0.742);
  font-family: "Mitr", sans-serif;
  margin: auto;
}

.textpromo i {
  font-size: 50px;
}

.totalpayment {
  border-top: 1px solid silver;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px; */
}

.loginbtn {
  display: flex;
  flex-direction: column;
}

.loginbtn button {
  font-size: 19px;
  font-family: "Mitr", sans-serif;
  border: none;
  border-radius: 7px;
  background-color: aquamarine;
}
